:host {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.canvas-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  cursor: grab;
}

.canvas-wrapper:active {
  cursor: move;
}

.solar-canvas {
  display: block;
  width: 100%;
  height: 100%;
}
