body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

:root {
  --bg-app: #050508;
  --bg-panel: #09090b;
  --bg-element: #18181b;
  --bg-hover: #27272a;

  --border: #3f3f46;
  --border-hover: #52525b;

  --text-main: #f4f4f5;
  --text-muted: #a1a1aa;

  --primary: #3b82f6;
  --primary-hover: #2563eb;
}
